<div class="ui move up reveal">
    <div class="visible content">
        <img src="{{eventItem.logo}}">
    </div>
    <div class="hidden content">
        <div class="ui center aligned basic segment">
            <h2 class="ui header">{{eventItem.name}}</h2>
            <button (click)="dimmer.show({opacity: 1, transition: 'fade up'})" class="ui inverted button">
                <i class="icon search"></i>
                details
            </button>
        </div>
    </div>
</div>

<sm-dimmer #dimmer>
    <div class="dimmerContainer center">
        <h1 class="ui inverted center aligned icon header">
            {{eventItem.name}}
        </h1>

        <div class="ui centered grid">
            <div class="fourteen wide mobile ten wide tablet eight wide computer column">

                <div *ngIf="eventItem.iterations.length > 0" class="ui list">
                    <div *ngFor="let eventParticipation of eventItem.iterations" class="item">
                        <img class="ui avatar image" [src]="eventParticipation.logo">
                        <div class="content">
                            <div class="header">{{eventParticipation.project}}</div>
                            <div class="description">
                                <h5 class="ui header">
                                    {{eventParticipation.year}}
                                    <div class="sub header">
                                        {{eventParticipation.description | multilanguageField}}
                                    </div>
                                </h5>
                                <div *ngIf="eventParticipation.award" class="ui horizontal divider">
                                    <i class="trophy yellow icon"></i>
                                    {{eventParticipation.award}}
                                </div>
                            </div>
                            <div class="ui horizontal list">
                                <div *ngFor="let technology of eventParticipation.technology" class="item">
                                    <div class="ui label">
                                        {{technology}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <button (click)="dimmer.show({opacity: 1, transition: 'fade up'})" class="circular ui inverted icon button">
            <i class="icon remove"></i>
        </button>
    </div>
</sm-dimmer>