<ahc-base-section>
    <base-section-content>
        <div class="ahc-experience">
            <ahc-base-place-card *ngFor="let place of experiencePlaces"
                                 [header]="place.city"
                                 [subheader]="place.starts + ' - ' + place.ends"
                                 [backgroundImageUrl]="place.photo">
                <base-place-card-content>
                    <div class="ui large list">
                        <ahc-base-place-card-item
                                *ngFor="let experience of place.positions"
                                [header]="experience.name"
                                [subheader]="experience.company"
                                [logo]="experience.logo"
                                class="item"></ahc-base-place-card-item>
                    </div>
                </base-place-card-content>

                <base-place-card-dimmer-content>
                    <div class="ahc-experience-dimmer">
                        <div class="ui list">
                            <ahc-base-page-dimmer-item *ngFor="let position of place.positions"
                               class="item"
                               [header]="position.name"
                               [subheader]="position.company"
                               [content]="position.description"
                               [logo]="position.logo">
                                <ahc-base-label-list [labels]="position.technologies"></ahc-base-label-list>
                            </ahc-base-page-dimmer-item>
                        </div>
                    </div>
                </base-place-card-dimmer-content>
            </ahc-base-place-card>
        </div>

        <!-- SLIDER FOR MOBILE DISPLAY -->
        <swiper class="ahc-experience-swipper" [config]="config">
            <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let place of experiencePlaces">
                    <ahc-base-place-card [header]="place.city"
                                         [subheader]="place.starts + ' - ' + place.ends"
                                         [backgroundImageUrl]="place.photo">
                        <base-place-card-content>
                            <div class="ui large list">
                                <ahc-base-place-card-item
                                        *ngFor="let experience of place.positions"
                                        [header]="experience.name"
                                        [subheader]="experience.company"
                                        [logo]="experience.logo"
                                        class="item"></ahc-base-place-card-item>
                            </div>
                        </base-place-card-content>

                        <base-place-card-dimmer-content>
                            <div class="ahc-experience-dimmer">
                                <div class="ui list">
                                    <ahc-base-page-dimmer-item *ngFor="let position of place.positions"
                                                               class="item"
                                                               [header]="position.name"
                                                               [subheader]="position.company"
                                                               [content]="position.description"
                                                               [logo]="position.logo">
                                        <ahc-base-label-list [labels]="position.technologies"></ahc-base-label-list>
                                    </ahc-base-page-dimmer-item>
                                </div>
                            </div>
                        </base-place-card-dimmer-content>
                    </ahc-base-place-card>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </swiper>
    </base-section-content>
</ahc-base-section>