<div class="ahc-experience">
    <h1 class="ui header">
        <i class="industry icon"></i>
        <div class="content">
            Experience
        </div>
    </h1>

    <!-- LIST OF PROFESSIONAL EXPERIENCE -->
    <div *ngIf="experiencePlaces.length > 0" class="ui three stackable cards">
        <div *ngFor="let experiencePlace of experiencePlaces" class="card"
             [ngStyle]="{'background-image': 'url(' + experiencePlace.photo + ')'}"
             style="background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;">
             <ahc-experience-place [experiencePlace]="experiencePlace">
             </ahc-experience-place>
        </div>
    </div>
</div>
