// Import Semantic UI style
@import 'variables';

// APP General Style
// =================
html, body{
    height: 100%;
}

span.active {
    background-color: gray;
}

// Semantic UI Fixes
// -----------------
// Problem with margin in sidebar accordion
.ui.accordion .accordion .title, .ui.accordion .title {
    margin: 0px;
}

.ui.popup {
    border-radius: 0px;
    font-family: the_next_fontregular;
    font-size: 0.8em;
}

.ui.popup.right {
    background: #C12332;
    color: white;
    border: 0px;
}

.ui.popup.right:before {
    background: #C12332 !important;
    box-shadow: none !important;
}

.button {
    font-family: the_next_fontregular !important;
    text-transform: uppercase !important;
}

.ui.dimmer.modals.page {
    width: 100vw !important;
    overflow: hidden !important;
}

.ui.basic.modal.ahc-base-dimmer-page.scrolling.transition.visible.active,
.ui.basic.modal.ahc-base-dimmer-page.scrolling {
    margin: 0px !important;
    overflow: hidden;
}

// Swiper JS Fixes
// ---------------
swiper {
    display: none !important;
}

@media (max-width: $mobile-max-size) {
    swiper {
        display: block !important;
    }
}

.swiper-container-horizontal {
    padding-bottom: 30px;
}

.swiper-pagination-bullet-active {
    background: $action-color !important;
}