// APP General Style
// =================
html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}

span.active {
    background-color: gray;
}

// Semantic UI Fixes
// -----------------
// Problem with margin in sidebar accordion
.ui.accordion .accordion .title, .ui.accordion .title {
    margin: 0px;
}

.ui.popup.right {
    background: #C12332;
    color: white;
    border: 0px;
}

.ui.popup.right:before {
    background: #C12332 !important;
    box-shadow: none !important;
}
