.ahc-layout {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .column {
        width: calc(100vw - 50px);
        padding: 0px;
        overflow-y: auto;
        height: 100vh;

        /* dropdown selector style*/
        .item {
            width: 50px;
            height: 50px;
            font-size: 1.2em;
            color: #fff;
        }

        .menu {
            height: 100vh;
            overflow-y: auto;

            .item {
                width: 50px;
                height: 50px;
                font-size: 1.2em;
                color: #fff;
            }

            .item::after {
                border-radius: 0px;
                font-family: robotolight;
                border: 1px solid #fff;
                position: fixed;
                z-index: 1000;
            }
        }
    }

    /* Special configuration for sidebar */
    :first-child {
        background: #C12332;
        width: 50px !important;
        overflow: hidden;
    }
}

.dropdown.icon {
    display: none !important;
}

.ahc-language-menu {
    background: #261D1D !important;
    height: auto !important;

    .item, i {
        background: #261D1D !important;
    }
}

/* Configure this ID for responsive sidebar */
#main {
    width: calc(100vw - 50px) !important;
    overflow-x: hidden;
    background: #050507;
}
