@import '../../../ahc-app/resources/scss/variables';

.ahc-event {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;

  .card {
    box-shadow: 0 0 0 0;
    border-radius: 0px;
  }
}

.ahc-event-swipper {
  img {
    height: auto;
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: $mobile-max-size) {
  .ahc-event {
    display: none;
  }
}