.divider {
    i {
        margin: 0px;
    }
}

.content {
    font-family: the_next_fontregular;
    color: #fff;

    p {
        margin: 0px;
    }

    span {
        font-family: robotoregular;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .button {
        margin-top: 15px;
        font-family: robotoregular;
    }

    /* cortar por aquí */
    .list {
        text-align: left;
        margin: 0px;
        margin-top: 30px;
        margin-bottom: 20px;

        .item {
            font-size: 0.7em;
        }
    }
}


.center {
    overflow-y: auto;
    max-height: 100vh;

    h1 {
        font-size: 2.2em;
        font-family: the_next_fontregular;
        margin-bottom: 35px;
        margin-top: 35px;
    }

    .grid {
        margin: 0px;
    }

    .image {
        width: 40px !important;
        height: 40px !important;
        border-radius: 0px !important;
    }

    .button {
        position: fixed;
        top: 10px;
        right: 10px;
    }

    .content {
        width: calc(100% - 50px);
        text-align: left;

        .header {
            color: #fff;
            font-family: robotoregular;
            font-size: 1.2em;
        }

        .description {
            h5 {
                font-family: robotolight;
                color: #C12332;
                font-size: 1em;

                .sub {
                    margin-top: 10px;
                    font-size: 1em;
                    font-family: robotolight;
                    color: #ccc;
                    line-height: 1.5em;
                }
            }
        }

        .list {
            margin-top: 10px;

            .label {
                background: #C12332;
                color: #fff;
                border-radius: 0px;
                margin-right: 5px;
                margin-bottom: 5px;
                font-size: 0.8rem;
            }
        }
    }
}
