.content {
    width: calc(100% - 2.5em) !important;

    .header {
        font-family: robotoregular !important;
        color: #ccc !important;
    }

    .description {
        font-family: robotolight;
        font-size: 0.8em;
        color: #C12332 !important;
    }
}
