@import '../../../ahc-app/resources/scss/variables';

.ahc-experience {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    // This configuration allow flex to display two
    // elements per row
    div, ahc-base-place-card {
        flex-grow: 1;
        width: calc(50% - 15px);
        margin-bottom: 30px;
    }

    > :nth-child(odd) {
        margin-right: 30px;
    }

    > :last-child {
        margin-right: 0px;
    }

    .item {
        margin-bottom: 20px;
    }

    .list {
        width: 100%;
    }

    .ahc-experience-dimmer {
        width: 100%;

        .ui.list {
            width: 100%;
        }
    }
}

@media (max-width: $mobile-max-size) {
    .ahc-experience {
        display: none;
    }
}