.divider {
    i {
        color: #fff;
        font-size: 1.4em;
    }
}

.content {
    font-family: the_next_fontregular;
    color: #fff;

    p {
        margin: 0px;
    }

    span {
        font-family: robotoregular;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .button {
        margin-top: 15px;
        font-family: robotoregular;
    }

    /* cortar por aquí */
    .list {
        text-align: left;
        margin: 0px;

        .item {
            font-size: 0.7em;
        }
    }
}
