@import '../../../ahc-app/resources/scss/variables';

.ahc-presentation {
    background: $background-inverted-color !important;
    padding: 10% 25%;
    color: $font-white-color;
    font-family: robotolight;
    text-align: justify;
    font-size: 1.2em;

    i {
        margin: 0px !important;
    }
}

@media (max-width: $mobile-max-size) {
    .ahc-presentation {
        padding: 25% 10%;
    }
}