.ahc-presentation {
    background: #261D1D !important;

    .grid {
        margin: 0px;
        padding-top: 40px;
        padding-bottom: 40px;

        .column {
            color: #fff;
            font-family: robotolight;
            text-align: justify;
            font-size: 1.2em;

            i {
                color: #fff;
                margin: 0px;
            }
        }
    }
}
