.list {
  margin-top: 10px;

  .item {
    margin: 0px;
  }

  .label {
    background: #C12332;
    color: #fff;
    border-radius: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-family: the_next_fontregular;
  }
}