@import '../../../ahc-app/resources/scss/variables';

.reveal, .hidden.content {
  width: 100%;
}

.visible.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ahc-base-place-card {
  height: 100%;
  padding: 20px !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  h2 {
    text-align: center;
    font-family: the_next_fontregular;

    .sub.header {
      font-family: robotoregular;
      font-size: 0.8em;
      text-transform: uppercase;
      margin-top: 10px;
    }

    i {
      margin: 0px;
    }
  }

  & div {
    flex: 1;

    .button {
      margin-top: 30px;
    }
  }
}

@media (max-width: $mobile-max-size) {
  .reveal {
    display: block;
    width: 80%;
    margin: auto;

    // Centers visible content with hidden
    .visible.content {
      height: calc(100% - 40px);
      right: 0px;
    }
  }

  .ahc-base-place-card {
    width: 80% !important;
    margin: auto;

    & div {
      .button {
        margin-left: auto;
        margin-right: auto;
        width: 60% !important;
      }
    }
  }
}