@import '../../../ahc-app/resources/scss/variables';

.ahc-base-section {
  width: 100%;
  background: $background-color;
  padding: 80px;

  h1 {
    font-size: 2.2em;
    font-family: the_next_fontregular;
    margin-bottom: 35px;

    i {
      font-size: 0.8em;
    }
  }
}

@media (max-width: $mobile-max-size) {
  .ahc-base-section {
    padding: 50px 15px;
  }
}